<figure class="hero{% if item.isCrowned == true %} is-crowned{% endif %}" style="background-image: url('{{ item.image }}');">
  <img class="image image--stretch" width="899" height="506" alt="" src="{{ item.image }}" />
  <a class="anchor anchor--shy" href="{{ route('event', {id: item._id}) }}" style="block">
    <figcaption class="hero__headline">
      <div class="headline wings">
        <h1 class="anchor title gutters{% if item.headline | length > 30 %} title--lead{% else %} title--headline{% endif %}">{{ item.name }}</h1>
        <p class="body--meta gutters leader">{{ item.startDate | date("F jS Y \\a\\t g:ia") }}</p>
        <p class="body--meta gutters">{{ item.location.name }}</p>
        {% if item.label[0]|length>0 %}
        <em class="headline__tax"><span class="label">{{ item.label[0] }}</span></em>
        {% endif %}
      </div>
    </figcaption>
  </a>
</figure>
