<!DOCTYPE html>
<html lang="{{ locale }}">
  {% embed "partials/head.twig" with { title: 'CTA – Sowing Innovation Harvesting Prosperity', locale: locale } %}
  {% endembed %}

  <body>
    {% embed "partials/masthead.twig" with { locale: locale } %}
    {% endembed %}

    {% set covers = {
      'indiaHand': 'https://meerafreeman.files.wordpress.com/2013/01/argan-18-of-20.jpg',
      'africaHand': 'http://cdn.c.photoshelter.com/img-get2/I0000NMFIPYzIqQo/fit=1000x750/Woman-hand-touching-peppers-in-African-market-PS-176.jpg',
      'womanPaprika': 'https://upload.wikimedia.org/wikipedia/commons/5/5e/Paprika_pepper_farmer_in_Tanzania_(5761933485).jpg',
      'potatoSack': 'http://images.huffingtonpost.com/2016-06-20-1466460668-5859183-shutterstock_194239385.jpg',
      'potatoSack2': '/images/content/covers/potato-sack-small.jpg',
      'womanPicking': 'http://1.bp.blogspot.com/-eU9QKrwq7aA/Uk10U3EJXnI/AAAAAAAAADM/KnPny99gDTc/s1600/A+member+with+Upendo+Women+Group+harvesting+colored+pepper+grown+in+a+green+house+in+Lushoto+district,+Tanga+region..jpg',
      'cottonPod': 'https://evalovesecrets.files.wordpress.com/2013/09/cotton_boll_3.jpg',
      'masaai': 'http://venturesafrica.com/wp-content/uploads/2015/09/agric-and-tech-3.jpg',
      'womanPhone': 'http://one-org.s3.amazonaws.com/us/wp-content/uploads/2015/07/14987639344_4cca965b46_o.jpg',
      'cottonCrop': 'http://farm9.staticflickr.com/8350/8246602118_7f6498e377_o.jpg'
    }%}
    {% set cover = covers.potatoSack2 %}

    <figure class="cover hero is-crowned" style="background-image: url('{{ cover }}');">
      <img class="cover__image image image--stretch" alt="" src="{{ cover }}" />
      <figcaption class="cover__layover">
        <p class="slogan">
          <em class="is-narrative">Sowing Innovation Harvesting Prosperity</em>
        </p>
      </figcaption>
    </figure>

    <section class="layout">
      <div class="layout__cell layout__cell--aside layout__cell--divider wings">
        <aside class="gutters leader--hero">
          <!-- Jasper: hier een lijstje van beschikbare channels -->
          <h2 class="title title--lead title--section">Channels</h2>
          <ul class="reset" style="margin-top: 2em;">
              {% for channel in channels %}
                  <li>
                    <a class="posting posting--row anchor anchor--shy" href="{#{ route('channel', (id: channel._id)) }#}">
                      <article class="posting__content">
                        <h3 class="title">{{ channel.name['en'] }}</h3>
                        <span class="posting__anchor anchor">Read more</span>
                      </article>
                    </a>
                  </li>
              {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="layout__cell wing--right">

        <!-- Jasper: hier de artikelen van channel 8c713f30-eab9-4042-8761-e286bfa4445c -->
        <a class="anchor anchor--shy" href="{{ route('post', {id: women_first._id}) }}">
          <article class="posting posting--hero layout layout--even leader trailer">
            <figure class="posting__image layout__cell gutters">
              <img class="image image--stretch" width="899" height="506" alt="" src="{{ resize(women_first.link.mediaObject[0].external.data.url, 600, 400) }}" />
            </figure>
            <div class="posting__content layout__cell gutters">
              <em class="label">Role of woman in Africa</em>
              <h3 class="title title--lead">{{ women_first.headline}}</h3>
              <p class="posting__intro">{{ women_first.about | raw }}</p>
              <span class="posting__anchor anchor">Read more</span>
            </div>
          </article>
        </a>

        <div class="grid grid--channels">

          <!-- repeat for each article -->
          {% for article in women %}
          <a class="grid__cell anchor anchor--shy" href="{{ route('post', {id: article._id}) }}">
              <article class="posting posting--tile gutters">
                <div class="posting__image layout__cell">
                  <img class="image image--stretch" width="899" height="506" alt="" src="{{ resize(article.link.mediaObject[0].external.data.url, 600, 400) }}" />
                </div>
                <div class="posting__content layout__cell">
                  <h3 class="posting__title title">{{article.headline}}</h3>
                  <p class="posting__intro">{{article.about | raw}}</p>
                  <span class="posting__anchor anchor">Read more</span>
                </div>
              </article>
            </a>
          {% endfor %}

        </div>


      </div>
    </section>

    <section class="grid grid--channels wings well">
      <!-- repeat for each channel -->
      <section class="grid__cell gutters">
        <h2 class="title title--lead title--section">Brussels Briefings</h2>
        <ul class="reset leader" style="margin-top: 2em;">
          <!-- repeat for each article -->
            {% for article in brussels %}
                <li>
                  <a class="posting posting--row anchor anchor--shy" href="{{ route('post', {id: article._id}) }}">
                    <article class="posting__content">
                      <h3 class="title">{{ article.headline }}</h3>
                      <span class="posting__anchor anchor">Read more</span>
                    </article>
                  </a>
                </li>
            {% endfor %}
          <!-- end|repeat for each article -->
        </ul>
      </section>
      <!-- end|repeat for each channel -->
      <section class="grid__cell gutters">
        <h2 class="title title--lead title--section">Cassava</h2>
        <ul class="reset leader" style="margin-top: 2em;">
            {% for article in cassava %}
                <li>
                  <a class="posting posting--row anchor anchor--shy" href="{{ route('post', {id: article._id}) }}">
                    <article class="posting__content">
                      <h3 class="title">{{ article.headline }}</h3>
                      <span class="posting__anchor anchor">Read more</span>
                    </article>
                  </a>
                </li>
            {% endfor %}
        </ul>
      </section>
      <section class="grid__cell gutters">
        <h2 class="title title--lead title--section">Western Africa</h2>
        <ul class="reset leader" style="margin-top: 2em;">
            {% for article in western %}
                <li>
                  <a class="posting posting--row anchor anchor--shy" href="{{ route('post', {id: article._id}) }}">
                    <article class="posting__content">
                      <h3 class="title">{{ article.headline }}</h3>
                      <span class="posting__anchor anchor">Read more</span>
                    </article>
                  </a>
                </li>
            {% endfor %}
        </ul>
      </section>
      <section class="grid__cell gutters">
        <h2 class="title title--lead title--section">Cassava in Western Africa</h2>
        <ul class="reset" style="margin-top: 2em;">
            {% for article in western_cassava %}
                <li>
                  <a class="posting posting--row anchor anchor--shy" href="{{ route('post', {id: article._id}) }}">
                    <article class="posting__content">
                      <h3 class="title">{{ article.headline }}</h3>
                      <span class="posting__anchor anchor">Read more</span>
                    </article>
                  </a>
                </li>
            {% endfor %}
        </ul>
      </section>
    </section>

  </body>
</html>
