<header class="masthead">
  <nav class="network-navigation media wings">
  <div class="is-inactive  media__stretcher" id="network-navigation">
  <button class="menu-toggle icon icon-sortable" data-toggle="network-navigation">CTA</button>
  <ul class="fx menu menu--responsive">
    <li><a class="menu__item is-heir" href="/index.php/">Home</a></li>
    <li><a class="menu__item is-heir" href="/index.php/{{ locale }}/cta/about">About CTA</a></li>
    <li><a class="menu__item is-heir" href="/index.php/{{ locale }}/cta/contact">Contact</a></li>
    <li><a class="menu__item is-heir" href="{{ route('press', {}) }}">Press</a></li>
    <li><a class="menu__item is-heir" href="/index.php/{{ locale }}/cta/working-with-cta">Working with CTA</a></li>
  </ul>
</div>
  <ul class="menu language-switch gutters">
  <li class="language is-active"><a class="menu__item is-heir" href="javascript:void();">EN</a></li>
  <li class="language"><a class="menu__item is-heir" href="javascript:void();">FR</a></li>
  <li class="language"><a class="menu__item is-heir" href="javascript:void();">PO</a></li>
</ul>
</nav>
  <nav class="site-navigation is-inactive wings">
  <a class="site-navigation__brand gutters" href="{{ route('frontpage', {}) }}">
    <figure class="brand--cta"><figcaption class="is-narrative">CTA Homepage</figcaption></figure>
  </a>
  <div class="site-navigation__nav">
    <ul class="list--inline menu site-navigation__menu sub-nav">
      <li><a class="menu__item is-heir" href="{{ route('publications', {}) }}" data-priority="1">Publications</a></li>
      <li><a class="menu__item is-heir" href="{{ route('resources', {}) }}" data-priority="2">Resources</a></li>
      <li><a class="menu__item is-heir" href="{{ route('events', {}) }}" data-priority="3">Events</a></li>
      <li><a class="menu__item is-heir" href="{{ route('blog', {}) }}" data-priority="4">Blog</a></li>
      <li><a class="menu__item is-heir" href="{{ route('news', {}) }}" data-priority="5">News</a></li>
    </ul>
    <div class="site-navigation__browse">
      <form class="site-navigation__search site-search wings">
        <label class="is-narrative" for="site-search">Search</label>
        <input class="site-search__input" id="site-search" placeholder="Search CTA &hellip;" type="text" />
        <button class="is-narrative" type="submit">Search</button>
      </form>
      <ul class="list--inline menu menu--secondary site-navigation__menu">
        <li><a class="menu__item is-heir" href="{{ route('programmes', {}) }}">Programmes</a></li>
        <li><a class="menu__item is-heir" href="{{ route('regions', {}) }}">Regions</a></li>
        <li><a class="menu__item is-heir" href="{{ route('topics', {}) }}">Topics</a></li>
      </ul>
    </div>
  </div>
</header>
